# Core functionality - changes here should be rare!
/src/app.py                   @minhtuan92
/src/backend/database.py      @minhtuan92
/src/backend/routers/auth.py  @minhtuan92

# The frontend will need refactored soon to be more object oriented.
/src/static/   @minhtuan92
